.plateButton {
    background-color: orange;
    position: fixed;
    top: 73%;
    left: 47%;
}
body {
    background-color: lightblue;
    padding: 10px;
}
.Menu {
    position: fixed;
    left: 65%
}
.mealButton {
    position: fixed;
    top: 20%;
    left: 43%;
}
.at {
    position: fixed;
    top: 18.5%;
    left: 49%;
}
.diningHall {
    position:fixed;
    top:20%;
    left:52%;
}
.logo {
    position: fixed;
    left:5%;
}
.nutritionImg {
    position: fixed;
    width:200px;
    height:300px;
    left: 5%;
}
#plateImage {
    position: fixed;
    width: 27%;
    height: 43%;
    left:36%;
    top:25%
}
#nutritionImage {
    position: fixed;
    width: 27%;
    height:43%;
    left:5%;
    top:25%;
}